{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="display:inline; height: 800px; background: url({{article.image}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 article-details">
            <h3>{{ article.title }}</h3>

            <p class="overview"> {{ article.overview }}</p>
            <p class="ratings"> <b> {{ article.vote_average }}</b> - <i>{{ article.vote_count}} votes </i> </p>
          <a class="ratings" href="/article/review/new{{article_id}}">Yor Review Here</a>

        </div>
    </div>

    <div class="row">

        <h1>Reviews</h1>
        <hr>

        {% if reviews %}
            {{macro.displayReviews(reviews)}}

        {% else%}
            <h3 class="text-center">This article has no reviews </h3>

            <a class="btn btn-success btn-lg text-center" href="/article/review/new/{{article.id}}"> Write a new review</a>
        {% endif %}

    </div>

</div>
{% endblock %}
