{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<body>

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Trending News</a>
        <a href="#">Most Watched</a>
        <a href="#">Sports</a>
</div>

{% block content %}


      <h1>Welcome to wananchi News </h1>
      <!-- Popular article section  -->
        <h3>Trending News</h3>
         <ul>
          {{ macro.displayArticleList(popular)}}
        </ul>

        <!-- Most Watched -->
        <h3>Most Watched</h3>
        <ul>
          {{ macro.displayWatchedList(watched)}}
        </ul>
        <h3>Sports</h3>
        <ul>
          {{ macro.displaySportsList(sports)}}
        </ul>


        {%endblock%}

    </body>
