{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Trending News</a>
        <a href="#">Most Watched</a>
        <a href="#">Sports</a>
</div> -->




<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->

{% block content %}


      <h1>Welcome to wananchi News </h1>
      <!-- Popular article section  -->
        <h3>Trending News</h3>
         <ul>
          {{ macro.displayArticleList(popular)}}
        </ul>

        <!-- Most Watched -->
        <h3>Most Watched</h3>
        <ul>
          {{ macro.displayArticleList(watched)}}
        </ul>
        <h3>Sports</h3>
        <ul>
          {{ macro.displayArticleList(sports)}}
        </ul>


        {%endblock%}
