<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome Wananchi News Review Web </title>
        {% endif %}
    </head>
    <body>
      <h1>Welcome to wananchi News </h1>
      <!-- Popular article section  -->
        <h3>Trending News</h3>
         <ul>
            {% for popular_articles in popular %}
                <li>{{ popular_articles.title}}</li>
            {% endfor %}
        </ul>

    </body>
</html>
